.jumbotron{
	background-color: #DABBE8;
	color: white;
	margin-top: 50px;
}

.btn{
	background-color: #1C3108;
	color: white;
}

.btn-reserva{
	width:100%;
	border-radius= 0px;
}

footer{
	background-color: #DABBE8;
	color: white;
	padding: 10px 10px 0 10px;
	margin-top: 10px;
	
}

.card-hotel {
	flex: 1 200px;
	margin-top= 10px;
}

.footer-address-icon {
	padding-right: 10px;
}

.padding-plus-icon {
	padding-right: 5px;
}