.jumbotron {
  background-color: #b79fd1;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px; }

.btn {
  background-color: #729e47;
  color: white; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

footer {
  background-color: #b79fd1;
  color: white;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.footer-address-icon {
  padding-right: 10px; }

.padding-plus-icon {
  padding-right: 5px; }
