$lila:#b79fd1;
$green:#729e47;

@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $lila;
	color: white;
	@include margenes(50px,20px)
}

.btn{
	background-color: $green;
	color: white;
}

.btn-reserva{
	width:100%;
	border-radius: 0px;
}

footer{
	background-color: $lila;
	color: white;
	padding: 10px 10px 0 10px;
	@include margenes(10px,0px)
	
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.footer-address-icon {
	padding-right: 10px;
}

.padding-plus-icon {
	padding-right: 5px;
}